<div class="post-title">
  {{#if titleEditMode}}
    {{
      edit-title
      class="form-control"
      value=model.title
      focus-out="saveTitle"
      insert-newline="saveTitle"
    }}
  {{else}}
    <h3 {{action "editTitle" on="doubleClick"}}>{{model.title}}</h3>
  {{/if}}
</div>

<div class="post-content">
  {{#if contentEditMode}}
    {{
      edit-content
      class="form-control"
      value=model.content
      focus-out="saveContent"
      rows="10"
    }}
  {{else}}
    <p {{action "editContent" on="doubleClick"}}>{{model.content}}</p>
  {{/if}}
</div>